{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('exercise') }}
{% endblock %}

{% block title %}Hello ExerciseController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
  <div class="container">
      <div class="row">
      <div class="col-12">
<h1 class="text-center"></h1>
<div class="col-12" id="exercise">
    <h5>Interpolation</h5>
    <p >Nume: {* name *} {* surname *}</p>
<p>Varsta: ({* age *}) ani</p>
    <hr>
<h5> Age multiplied by 3</h5>
    <p>{* age*3 *}</p>
    <hr>
    <div>> Random float between 0 and 100</div>
    <p>Random:  {* random() *}</p>
    <hr>
    <div>Image</div>
    <div>
        <img v-bind:src="image">
    </div>
    <hr>
    <h6>Input</h6>
    <div>
        <p>Input
            <input :value="nameDisplay()" name="myName" type="text"></p>
        </div>
    </div>
      </div>
  </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('exercise') }}
{% endblock %}
