{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ encore_entry_link_tags('computed') }}
{% endblock %}


{% block title %}Hello ComputedController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper" id="computed">
    <h1>Hello {{ controller_name }}! ✅</h1>
    <p>Nume: {* nume *}</p>
    <p>Prenume: {* prenume *}</p>
    <p> Nume Intreg: {* numeIntreg *}</p>
    <h2>Search in list</h2>
    <input type="text" v-model="findName">
<p>Search</p>
<ul>
    <li v-for="name in search">{* name *}</li>
</ul>
<p>Full array</p>
<ul>
    <li v-for="name in names">{* name *}</li>
</ul>
<p>JSON {* jsonObj *}</p>
<div>
<p>Search Json list</p>
<input type="text" v-model="findName">
<ol>
<p>Numele este:</p>
<li v-for="names in searchJson">{* names *}</li>
</ol>
<hr>
<div>
<p>{* myWatch *}</p>
{# <p>{* nume *}</p> #}

{# pot pune pe firstname #}
</div>
</div>
</div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('computed') }}
{% endblock %}

